<div class="w-full grid grid-row-2 md:grid-cols-3 gap-y-2 md:gap-x-5 my-5">
  <div class="flex items-center col-span-2 bg-gray-100 border rounded-lg shadow-md select-none">
    <div class="flex align-center justify-center text-left w-1/2">
      <div class="px-3">
        <h1 class="text-lg sm:text-xl md:text-3xl font-black">Hello Adipiscingelite</h1>
        <p class="font-semibold">It's good to see you again</p>
      </div>
    </div>
    <div class="w-1/2">
      <img
        src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRzYzZb7edBwpWbJwfSgcVcoUnK18hxvO3ZNjzdX9weJf603zRW"
        class="w-full md:w-auto md:h-full aspect-square" alt="Hello" style="
    mix-blend-mode: multiply; ">
    </div>
  </div>
  <div class="flex items-center justify-center w-full">
    <div class="card">
      <div class="numbers">
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
        <span class="number"></span>
      </div>
      <div class="needles">
        <span class="h"></span>
        <span class="m"></span>
        <span class="s"></span>
        <span class="center"></span>
      </div>
      <div class="pie"></div>
    </div>
    
  </div>
</div>