<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item hover:cursor-pointer hover:underline hover:underline-offset-4">
      <a [routerLink]="baseURL" class="breadcrumb-icon">
        <svg class="w-5 h-5  text-blue-500" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21 19.998a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.488a1 1 0 0 1 .386-.79l8-6.222a1 1 0 0 1 1.228 0l8 6.222a1 1 0 0 1 .386.79v10.51Zm-2-1V9.976l-7-5.444-7 5.444v9.022h14Zm-12-4h10v2H7v-2Z">
          </path>
        </svg>
      </a>
    </li>

    <li class="breadcrumb-item select-none" *ngFor="let breadcrumb of breadcrumbs | async; let isLast = last">
      <!-- <span *ngIf="!isLast" class="cursor-default text-black">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.41 6 5 7.41 9.58 12 5 16.59 6.41 18l6-6-6-6Z"></path>
          <path d="m13 6-1.41 1.41L16.17 12l-4.58 4.59L13 18l6-6-6-6Z"></path>
        </svg>
      </span> -->
      <a *ngIf="!isLast" class="hover:text-blue-500 hover:cursor-pointer hover:underline hover:underline-offset-4" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      <span *ngIf="isLast">{{ breadcrumb.label }}</span>
    </li>
  </ol>
</nav>